<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">blog</h5>
      <form [formGroup]="blogForm">
        <div class="form-group">
          <input class="form-control mb-2 mr-sm-2" formControlName="title" type="text" placeholder="Enter title"/>
        </div>
        <div class="form-group">
          <input class="form-control mb-2 mr-sm-2" formControlName="content" type="text" placeholder="Enter description"/>
        </div>
        <div class="form-group">
          <input class="form-control mb-2 mr-sm-2" formControlName="content" type="text" placeholder="Enter description"/>
        </div>
        <button class="btn btn-success" (click)="submitForm()">Add</button>
      </form>
    </div>
  </div>
</div>
