<div class="container-fluid mt-3">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="blogForm">
        <div class="form-group">
          <input class="form-control form-control-lg mb-2 mr-sm-2" formControlName="title" type="text" placeholder="Enter title"/>
        </div>
        <div class="form-group">
          <textarea class="form-control form-control-lg mb-2 mr-sm-2" formControlName="content" placeholder="Enter description" rows="3"></textarea> 
        </div>
        <div class="form-group">
          <select class="form-control form-control-lg" formControlName="status">
            <option *ngFor="let s of blogStatus" value="{{s}}">{{s}}</option>
          </select>
        </div>
        <button class="btn btn-success" (click)="submitForm()">{{this.blog._id ? 'Update' : 'Add'}}</button>
      </form>
    </div>
  </div>
</div>