<div class="container-fluid mt-3">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Welcome !!!</h5>
    </div>
  </div>
  <div class="row">
    <ng-template ngIf="blogs && blogs.length">
      <div class="col-sm-6" *ngFor="let blog of blogs">
        <div class="card text-secondary border-primary mb-3">
          <div class="card-header">
            <h3>{{blog.title}}</h3>
          </div>
          <div class="card-body">
            <p class="card-text">{{blog.content.length > 300 ? blog.content.substr(0, 300) : blog.content}} ...</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>

</div>