<div class="container-fluid mt-3">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">Welcome !!!</h5>
    </div>
  </div>
  <div class="row">
    <ng-template ngIf="blogs && blogs.length">
      <a *ngFor="let blog of blogs" [routerLink]="['/blog/view/', blog._id]" class="blog col-sm-6">
        <div class="card text-secondary border-success mb-3">
          <div class="card-header">
            <h3>{{blog.title}}</h3>
            <h6 class="card-subtitle mb-2 text-muted"><fa-icon [icon]="['fas', 'edit']"></fa-icon> {{blog.publisher.name}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text">{{blog.content.length > 300 ? blog.content.substr(0, 300) : blog.content}} ...</p>
          </div>
          <div class="card-footer text-muted">
            <fa-icon [icon]="['fas', 'heart']"></fa-icon>
          </div>
        </div>
      </a>
    </ng-template>
  </div>

</div>